/*
 * css-emoji 2016-11-14 
 * Build 0.1.0
 */
@charset "UTF-8";
.emoji {
  font-style: normal; }

.emoji-smiley:before {
  content: "😀"; }

.emoji-blush:before {
  content: "😊"; }

.emoji-cry:before {
  content: "😢"; }

.emoji-sob:before {
  content: "😭"; }

.emoji-think:before {
  content: "🤔"; }

.emoji-grimacing:before {
  content: "😁"; }

.emoji-tears-of-joy:before {
  content: "😂"; }

.emoji-smile-open:before {
  content: "😃"; }

.emoji-laugh-open:before {
  content: "😄"; }

.emoji-laugh-open-sweat:before {
  content: "😅"; }

.emoji-laugh:before {
  content: "😆"; }

.emoji-wink:before {
  content: "😉"; }

.emoji-yum:before {
  content: "😋"; }

.emoji-cool:before {
  content: "😎"; }

.emoji-love:before {
  content: "😍"; }

.emoji-kiss:before {
  content: "😘"; }

.emoji-kiss-empty:before {
  content: "😗"; }

.emoji-kiss-empty-closed:before {
  content: "😚"; }

.emoji-smile:before {
  content: "🙂"; }

.emoji-hug:before {
  content: "🤗"; }

.emoji-neutral:before {
  content: "😐"; }

.emoji-expressionless:before {
  content: "😑"; }

.emoji-silent:before {
  content: "😶"; }

.emoji-rolling:before {
  content: "🙄"; }

.emoji-smirk:before {
  content: "😏"; }

.emoji-persevere:before {
  content: "😣"; }

.emoji-relieved:before {
  content: "😥"; }

.emoji-sympathy:before {
  content: "😮"; }

.emoji-zipper:before {
  content: "🤐"; }

.emoji-surprised:before {
  content: "😯"; }

.emoji-sleepy:before {
  content: "😪"; }

.emoji-tired:before {
  content: "😫"; }

.emoji-sleeping:before {
  content: "😴"; }

.emoji-contented:before {
  content: "😌"; }

.emoji-geek:before {
  content: "🤓"; }

.emoji-tongue:before {
  content: "😛"; }

.emoji-drool:before {
  content: "🤤"; }

.emoji-joking:before {
  content: "😜"; }

.emoji-yuck:before {
  content: "😝"; }
