// http://unicode.org/emoji/charts/full-emoji-list.html
// Emoji V3
$emoji-prefix: emoji !default;
$emojis: (
	smiley: 						"\01F600",
	blush: 							"\01f60a",
	cry: 								"\01F622",
	sob: 								"\01f62d",
	think: 							"\01F914",
	grimacing: 					"\01f601",
	tears-of-joy: 			"\01f602",
	smile-open: 				"\01f603",
	laugh-open: 				"\01f604",
	laugh-open-sweat: 	"\01f605",
	laugh: 							"\01f606",
	wink: 							"\01f609",
	yum: 								"\01f60b",
	cool:								"\01f60e",
	love:								"\01f60d",
	kiss:								"\01f618",
	kiss-empty:					"\01f617",
	kiss-empty-closed:	"\01f61a",
	smile: 							"\01f642",
	hug: 								"\01f917",
	neutral:						"\01f610",
	expressionless:			"\01f611",
	silent: 						"\01f636",
	rolling:						"\01f644",
	smirk:							"\01f60f",
	persevere:					"\01f623",
	relieved: 					"\01f625",
	sympathy:						"\01f62e",
	zipper:							"\01f910",
	surprised:					"\01f62f",
	sleepy:							"\01f62a",
	tired:							"\01f62b",
	sleeping: 					"\01f634",
	contented:					"\01f60c",
	geek: 							"\01f913",
	tongue:							"\01f61b",
	drool:							"\01f924",
	joking:							"\01f61c",
	yuck: 							"\01f61d",
	rofl:								"\01f923",
	unamused:						"\01f612",
	cold-sweat: 				"\01f613",
	dejected: 					"\01f614",
	confused: 					"\01f615",
	upside-down-smile:	"\01f643",
	money:							"\01f911",
	shocked: 						"\01f632",
	really-sad: 				"\02639",
	sad: 								"\01f641",
	confounded: 				"\01f616",
	disappointed:				"\01f61e",
	worried:						"\01f61f",
	steam:							"\01f624",
	frown: 							"\01f626",
	anguished: 					"\01f627",
	scared: 						"\01f628",
	weary: 							"\01f629",
	grimmace:						"\01f62c",
	cold-sweat-2: 			"\01f630",
	scream:							"\01f631",
	flushed:						"\01f633",
	dizzy: 							"\01f635",
	rage: 							"\01f621",
	angry: 							"\01f620",
	halo:								"\01f607",
	sick:								"\01f637",
	ill:								"\01f912",
	hurt:								"\01f915",

	devil-smile:				"\01f608",
	devil-frown: 				"\01f47f",
	devil-japanese: 		"\01f479",
	monster-japanese: 	"\01f47a",
	skull: 							"\01f480",
	crossbones: 				"\02620",
	ghost: 							"\01f47b",
	alien: 							"\01f47d",
	invaders: 					"\01f47e",
	robot: 							"\01f916",
	poop: 							"\01f4a9",

	// cats

	cat-smiley: 				"\01f63a",
	cat-grin: 					"\01f638",
	cat-tears-joy: 			"\01f639",
	cat-love: 					"\01f63b",
	cat-smirk: 					"\01f63c",
	cat-kiss: 					"\01f63d",
	cat-scream: 				"\01f640",
	cat-cry: 						"\01f63f",
	cat-angry: 					"\01f63e",

	// see / speak / hear
	monkey-see:					"\01f648",
	monkey-hear:				"\01f649",
	monkey-speak: 			"\01f64a",

	// people
	boy:								"\01f466",
	girl: 							"\01f467",
	man:								"\01f468",
	woman:							"\01f469",
	old-man:						"\01f474",
	old-woman: 					"\01f475",
	baby: 							"\01f476",
	baby-angel:					"\01f47c",
	police-officer: 		"\01f46e",
	detective: 					"\01f575",
	guard:							"\01f482",
	construction-worker:"\01f477",
	turban:							"\01f473",
	blond-haired:				"\01f471",
	santa:							"\01f385",
	princess:						"\01f478",
	bride:							"\01f470",
	chinese-cap:				"\01f472",
	person-frowning:		"\01f64d",
	person-pouting:			"\01f64e",
	person-no:					"\01f645",
	person-ok:					"\01f646",

	tipping-hand:		 		"\01f481",
	raising-hand: 			"\01f64b",
	bowing:							"\01f647",
	head-massage:				"\01f486",
	hair-cut:						"\01f487",

	walking:						"\01f6b6",
	running:						"\01f3c3",
	woman-dancing:			"\01f483",
	bunny-ears:					"\01f46f",
	suit-levitating:		"\01f574",

	speaking-head:			"\01f5e3",
	user:								"\01f464",
	users:							"\01f465",

	// activities
	horse-racing:				"\01f3c7",
	skier:							"\026f7",
	snowboarder:				"\01f3c2",
	golfer:							"\01f3cc",
	surfer:							"\01f3c4",
	rowing-boat:				"\01f6a3",
	swimming:						"\01f3ca",
	bouncing-ball: 			"\026f9",
	weightlifter:				"\01f3cb",
	biking:							"\01f6b4",
	mountain-biking:		"\01f6b5",
	racing-car: 				"\01f3ce",
	motorcycle:					"\01f3cd",

	

);

.emoji {
	font-style: normal;
}


@each $name, $code in $emojis {
	.#{$emoji-prefix}-#{$name}:before {
		content: $code;
	}

}